@use "destyle.css";
@use "sass-mq" as mq;

h1{
    font-weight: bold;
    font-size: 24px;
}

body{
    padding: 30px 60px;
    line-height: 1.8;

    @include mq.mq($until: 960px) {
        padding: 30px;
    }

    @include mq.mq($until: 520px) {
        padding: 30px 10px;
    }
}

input,textarea{
    width: 100%;
    max-width: 300px;
    padding: 1px 2px;

    border: {
        width: 1px;
        radius: 3px;
    };
}

textarea{
    min-height: 100px;
}

button{
    display: inline-block;
    background-color: #b7ffff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s background-color;

    &:hover{
        background-color: #d6ffff;
    }
}

form{
    >div{
        margin: 20px 0;

        input,textarea,label{
            display: block;
        }

        label{
            margin-bottom: 5px;
        }
    }
}
