@use "destyle.css";

body{
    padding: 30px 60px;
}

input,textarea{
    width: 100%;
    max-width: 300px;

    border: {
        width: 1px;
        radius: 3px;
    };
}

form{
    >div{
        margin: 20px 0;

        input,textarea,label{
            display: block;
        }

        label{
            margin-bottom: 5px;
        }
    }
}
